body{
    background-color: #e1f0f0;
}
#nav-bar{
    width: 380px; 
    height: 40px; 
    text-align: center; 
    font-size: 32px; 
    font-family: Arial; 
    font-weight: 600;
    width: 100%; 
    height: 100%; 
    padding-bottom: 0px; 
    padding-right: 0px;
    justify-content: flex-start; 
    align-items: center; 
    gap: 0px;
    display: inline-flex;
}
#nav-item{
    margin-left: 0px;
    background-color: rgb(138, 184, 225);
    border-radius: 20px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 160px;
}

#text{
    justify-content: right;
    width: 380px;
    float: right;
    font-size: 28px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: 40px;
    color: #ebbc5e;
    font-weight: 550;
    background-color: rgb(78, 159, 230);
    border-radius: 20px;
    text-align: center;
}

#arduino-gif{
    justify-content: left;
    width: 500px;
    border-radius: 20px;
    margin-right: 25px;
    margin-left: 12px;
    margin-top: 75px;
}

#td{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 12px;
    column-width: 30vw;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    background-image: url('/media/pngtree-blue-background-and-wallpaper-hd-image-victor-free-vector-image_2422840.png');
    background-repeat: no-repeat;
    a {color: #19a5a5;}
    a:visited {color: #0684d2d6;}
    a:hover {color: #a41cc2;}
}

#td2{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 12px;
    column-width: 30vw;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    background-image: url('/media/pngtree-blue-background-and-wallpaper-hd-image-victor-free-vector-image_2422840.jpg');
    background-repeat: no-repeat;
}

#td3{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 12px;
    column-width: 30vw;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    background-image: url('/media/desktop-wallpaper-abstract-red-color-geometric-modern-design-vector-backgrounds-red-color-background.jpg');
    background-repeat: no-repeat;
    a {color: #e26653;}
    a:visited {color: #0684d2d6;}
    a:hover {color: #db7c4d;}
}

#td4{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 12px;
    column-width: 30vw;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    background-image: url('media/Red_image\ \(581x280\).png');
    background-repeat: no-repeat;
}

table{
    border-spacing: 40px;
}

image{
    display: flex;
}

#lesson{
    width: 80vw;
    padding-left: 10%;
    font-size: 19px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}


a{text-decoration: none;}
a {color: #19a5a5;}
a:visited {color: #0684d2d6;}
a:hover {color: #a0efef;}